<h1>Edit album!</h1>

<form action="<%= albums_url %>" method="post">
  <input type="hidden" name="album_url(album)" method="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="band_id">Band Name</label><br>
  <select name="album[band_id]" id="band_id">
    <% Band.all.each do |band| %>
      <option value="<%= band.id %>"
        <%= "selected" if @album.band_id == band.id %>>
        <%= band.band_name.upcase %>
    <% end %>
  </select><br><br>

  <label for="studio_or_live">Studio or Live</label><br>
    <input type="radio" name="album[studio_or_live]" value="studio"
     "checked" if album.studio_or_live == "studio">Studio<br>

    <input type="radio" name="album[studio_or_live]" value="live"
    "checked" if album.studio_or_live == "live">Live<br><br>
  </label>


  <label for="album_name">Album Name</label><br>
  <input type="text" name="album[album_name]" value="<%= @album.album_name %>"><br>

  <input type="submit" value="Edit Album">
</form>
